@charset 'utf-8';
@use 'index' as v;

@use 'layout/header';
@use 'layout/footer';
@use 'layout/modal';

[class*=area-] > section{
    max-width: v.$width-device;
    margin: auto;
}

.area{
    // 애니메이션 배경
    &-welcome{
        background: linear-gradient(180deg, v.$sky 0%, v.$white 100%), v.$white;
        width: 100vw;
        height: 760px;
        canvas{
            width: 100%;
            height: 100%;
        }
    }
    // 한 줄 어필 및 증명사진, 이력서 보기 버튼
    &-intro{
        padding: 30px 64px 160px;
        section{
            h1{
                line-height: 80px;
            }
            p{
                text-align: right;
                font: v.$b3-400;
                line-height: 30px;
            }
            picture{
                margin-top: -100%;
                transform: translateY(-160px);
            }
            & > div{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }
    // 강점 및 자격증과 같은 정보
    &-information{
        $thisGap: 20px;
        padding: 160px 64px;
        background-color: v.$black9;
        h2{
            line-height: 80px;
            text-align: right;
        }
        p, li{
            font: v.$b3-400;
            line-height: 30px;
            color: v.$black0;
            white-space: nowrap;
        }
        li span{
            &.align{
                letter-spacing: 4.61px;
            }
            &:last-child{
                font: v.$c1-400;
                color: v.$black4;
                margin-left: 4px;
            }
        }
        .title{
            font: v.$t4-800;
            margin-bottom: 16px;
        }
        section{
            display: grid;
            grid-template-columns: 385px 1fr;
            justify-content: center;
            gap: 155px;
            & > ul{
                display: flex;
                gap: 56px $thisGap;
                flex-direction: column;
            }
        }
        
        &.type-history{
            background-color: unset;
            section{
                & > ul{
                    flex-wrap: wrap;
                    flex-direction: unset;
                    & > li{
                        flex: 1 1 calc(50% - $thisGap / 2);
                    }
                }
            }
        }
    }
    // 포트폴리오 설명 페이지
    &-projects{
        position: relative;
        height: 100dvh;
        padding: 160px 64px;
        h2{
            line-height: 80px;
        }
        .proj{
            border: 1px solid black;
            display: grid;
            grid-template-columns: 520px 1fr;
            gap: 155px;
            &-information{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        p{
            font: v.$b3-400;
            line-height: 30px;
            color: v.$black0;
            margin-top: 30px;
            &.title{
                font: v.$t4-800;
                margin-top: 60px;
            }
        }
        ul{
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            margin-top: 24px;
            li{
                font: v.$b4-400;
                color: v.$primary-600;
                border-radius: 16px;
                padding: 8px 12px;
                border: 1px solid rgba(v.$primary-600, 0.4);
            }
        }
        .btn{
            justify-self: end;
            margin-block: 60px 160px;
        }

        
        
        
        
        
        
        
        
        
        











































        //작업용으로 잠시 지우기
        section > div:not(&){display: none;}
    }
}