@charset 'utf-8';
@use 'index' as v;
@use 'reset'; // 리셋파일
@use 'fonts';
@use 'common';
@use 'layout';

// 다크모드 설정 버튼
.set-mode{
    $size: 24px;
    background-color: v.$secondary-100;
    border: unset;
    position: sticky;
    top: calc(100% - $size*4);
    right: $size*2;
    float: right;
    border-radius: 8px;
    padding: calc($size/2);
    margin-bottom: $size*2;
    box-shadow: 0 0 10px 0 v.$black-50;
    z-index: 100;
    &::before{
        content: "";
        width: $size;
        display: block;
        aspect-ratio: 1;
        background: url(v.$url + '/icons/24/ic-moon.svg') center/cover;
    }
    .mode-dark &{
        &::before{
            background: url(v.$url + '/icons/24/ic-sun.svg') center/cover;
            filter: v.$set-white;
        }
    }
}

.content{
    max-width: v.$width-device;
    width: auto;
    margin: auto;
    padding-inline: 24px;
}
/* Footer 반응형 */
@media (max-width: 1785px) {
    .set-mode{
        right: 16px;
    }
}
@media (max-width: 1740px) {
    .content{
        max-width: 100%;
        padding-inline: 60px;
        .area-information &{
            grid-template-columns: auto 700px;
        }
    }
    .area-projects{
        .proj-screen-mockup-wrap.type-mb{
            width: 400px;
            padding-inline: unset;
            margin: auto;
        }
        .content{
            gap: 60px;
            align-items: center;
        }
        .swiper-btn{
            width: 60px;
        }
    }
    .set-mode{
        right: 16px;
    }
}
@media (max-width: 1480px) {
    [class*=area]{
        padding-inline: unset;
    }
    .area-projects{
        .content{
            grid-template-columns: 48.529412% 1fr;
        }
    }
    .area-information{
        .content{
            grid-template-columns: auto 1fr;
        }
    }
}
@media (max-width: 1200px) {
    [class*=area]{
        padding-block: 80px;
    }
    .area-welcome{
        height: 340px;
        canvas{
            display: none;
        }
    }
    .area-intro{
        .content{
            picture{
                transform: translateY(-240px);
            }
        }
        img{
            width: 320px;
            height: auto;
        }
    }
    .area-information{
        // padding-top: 20px;
        .content{
            gap: 80px;
            h2{
                top: 0;
                padding-top: 40px;
                padding-bottom: 20px;
                background-color: v.$black-50;
                box-shadow: 0 40px 20px 20px v.$black-50;
            }
        }
        &.type-history{
            .content{
                h2{
                    background-color: v.$white;
                    box-shadow: 0 40px 20px 20px v.$white;
                }
            }
        }
    }
}
// 태블릿 모드 전환
@media (max-width: 1080px) {
    .area-information,
    .area-projects{
        h2{
            font-size: 32px;
            line-height: 48px;
        }
    }
    
    .content{
        max-width: unset;
        width: 100%;
    }
    .area-information{
        .content{
            grid-template-columns: 1fr;
            h2{
                text-align: left;
                box-shadow: 0 20px 16px 16px var(--black-50);
                padding-bottom: 4px;
            }
        }
    }
    .area-projects .content{
        grid-template-columns: 1fr;
    }
    footer{
        padding-inline: 24px;
    }
}


@media (max-width: 980px) {
    .area{
        &-welcome{
            // height: 160px;
        }
    }
    .area-intro{
        .content{
            position: relative;
            picture{
                transform: unset;
            }
            h1{
                display: none;
            }
            & > div:last-child{
                flex-direction: row-reverse;
                p{
                    text-align: left;
                    margin-top: 48px;
                }
            }
        }
        img{
            width: 240px;
        }
    }

}
@media (max-width: 768px) {
    .content{
        padding-inline: 32px;
    }
    .area-information{
        padding-block: 40px;
        .content{
            gap: 40px;
            ul{
                gap: 24px;
            }
        }
    }
    .area-projects{
        .content{
            padding-inline: 60px;
        }
        .proj-screen-mockup-wrap{
            width: 80%;
            margin: auto;
            &.type-mb{
                width: 33%;
            }
        }
    }
    .area-intro{
        .content{
            & > div:last-child{
                flex-direction: column-reverse;
                align-items: flex-start;
            }
            .btn{
                margin-top: 32px;
            }
        }
    }
    .footer {
      text-align: center;
    }
}