@charset 'utf-8';
@use 'index' as v;
@use 'reset'; // 리셋파일
@use 'fonts';
@use 'common';
@use 'layout';

// 다크모드 설정 버튼
.set-mode{
    $size: 24px;
    background-color: v.$secondary-100;
    border: unset;
    position: sticky;
    top: calc(100% - $size*4);
    right: $size*2;
    float: right;
    border-radius: 8px;
    padding: calc($size/2);
    margin-bottom: $size*2;
    box-shadow: 0 0 10px 0 v.$black-50;
    z-index: 100;
    &::before{
        content: "";
        width: $size;
        display: block;
        aspect-ratio: 1;
        background: url(v.$url + '/icons/24/ic-moon.svg') center/cover;
    }
    .mode-dark &{
        &::before{
            background: url(v.$url + '/icons/24/ic-sun.svg') center/cover;
            filter: v.$set-white;
        }
    }
}

.content{
    max-width: v.$width-device;
    width: auto;
    margin: auto;
    padding-inline: 24px;
}
/* Footer 반응형 */
@media (max-width: 1785px) {
    .set-mode{
        right: 16px;
    }
}
@media (max-width: 1740px) {
    .content{
        max-width: 100%;
        padding-inline: 60px;
        .area-information &{
            grid-template-columns: auto 700px;
        }
    }
    .area-projects{
        .proj-screen-mockup-wrap.type-mb{
            width: 400px;
            padding-inline: unset;
            margin: auto;
        }
        .content{
            gap: 60px;
        }
        .swiper-btn{
            width: 60px;
        }
    }
    .set-mode{
        right: 16px;
    }
}
@media (max-width: 768px) {
    .footer {
      text-align: center;
    }
}