::-webkit-scrollbar{display: none;}
*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
a{color: inherit; text-decoration: none;}
li{list-style: none}

/* NOTE: index페이지 */

#main_page{width: 100%; height: 100%; float: left}

#welcome{width: 100%; height: 100%; position: absolute; z-index: 1; float: left; background: linear-gradient( 20deg, #454687, #ffa8a2); cursor: pointer;}
#welcome h1{color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 50px; font-family: 'Poiret One', cursive;}
#welcome h1:hover{font-weight: bold; color: transparent; background: linear-gradient( 200deg, #454687, #ffa8a2); -webkit-background-clip: text; transition: 0.4s; }
#welcome h1::after{content: ""; position: absolute; left: 50%; width: 0; bottom: -10px; border-radius: 5px; height: 10px; background: linear-gradient( 200deg, #454687, #ffa8a2);}
#welcome h1:hover::after{left: 0; width: 100%; transition: .4s}

#sub_page_select_page{width: 100%; height: 100%; float: left;}
#sub_page_select_page > a{width: 25%; height: 100%; position: relative; float: left;
  background-position: center; background-repeat: no-repeat; background-size: cover; transition: 0.4s; cursor: pointer;}
#sub_page_select_page > a:nth-child(1){background-image: url("../img/sub_page_openner/sub_page_openner_1.jpg")}
#sub_page_select_page > a:nth-child(2){background-image: url("../img/sub_page_openner/sub_page_openner_2.jpg")}
#sub_page_select_page > a:nth-child(3){background-image: url("../img/sub_page_openner/sub_page_openner_3.PNG")}
#sub_page_select_page > a:nth-child(4){background-image: url("../img/sub_page_openner/sub_page_openner_4.jpeg")}

#sub_page_select_page > a > div{width: 100%; height: 100%; position: absolute; background: rgba(0,0,0,0.7); opacity: 0; transition: 0.4s}
#sub_page_select_page > a > div:hover{opacity: 1;}

#sub_page_select_page > a > div > div {width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;}
#sub_page_select_page > a > div > div > h2{margin-bottom: 10px}

/* NOTE: 공통코드 */

/*메인이미지*/
.main_img{width: 100%; height: 450px; position: relative; background-position: top; background-repeat: no-repeat; background-attachment: fixed}

/*드롭다운 위치지정*/
.main_img > div{width: 100%; height: 50px; box-sizing: border-box; border-bottom: 1px solid #b4b4b4; position: absolute; z-index: 15; bottom: 0; background: white}
/*드롭다운 백그라운드 가운데맞춤*/
.main_img > div > div{width: 1100px; height: 50px; position: relative; box-sizing: border-box; border-right: 1px solid #b4b4b4; border-left: 1px solid #b4b4b4; margin: 0 auto;}
/*드롭다운 메인메뉴 2개*/
.main_img a {display: block; width: 162px; height: 40px;}
.main_img > div > div > div{height: 50px; float: left; position: relative; box-sizing: border-box; border-right: 1px solid #b4b4b4; cursor: pointer;}
.main_img > div > div > div:nth-child(1){width: 50px;}
.main_img > div > div > div:nth-child(1) > a{display: block; width: 50px; height: 50px;}
.main_img > div > div > div:nth-child(1) > a > img{width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}

.main_img > div > div > div:nth-child(2){width: 161px; display: block}
.main_img > div > div > div:nth-child(2) > span{height: 50px; text-align: center; float: left}
.main_img > div > div > div:nth-child(2) > span:nth-child(1){width: 110px; font-size: 14px; line-height: 50px; padding-left: 10px; margin-right: 10px}
.main_img > div > div > div:nth-child(2) > span:nth-child(2){width: 20px; margin-right: 10px; position: relative}
.main_img > div > div > div:nth-child(2) > span:nth-child(2) > span{position: absolute; top: 55%; right: 50%; transform: translate(50%, -50%); border-top: 8px solid #b4b4b4; border-right: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid transparent; float: left}

.main_img > div > div > div:nth-child(3){width: 161px; display: none}
.main_img > div > div > div:nth-child(3) > span{height: 50px; text-align: center; float: left}
.main_img > div > div > div:nth-child(3) > span:nth-child(1){width: 110px; font-size: 14px; line-height: 50px; padding-left: 10px; margin-right: 10px}
.main_img > div > div > div:nth-child(3) > span:nth-child(2){width: 20px; margin-right: 10px; position: relative}
.main_img > div > div > div:nth-child(3) > span:nth-child(2) > span{position: absolute; top: 45%; right: 50%; transform: translate(50%, -50%); border-top: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #b4b4b4; border-left: 8px solid transparent; float: left}

.main_img > div > div > ul{width: 162px; height: 0; overflow: hidden; transition: 0.4s; position: absolute; z-index: 10; top: 50px; left: 49px; background: white;}
.main_img > div > div > ul > li{width: 162px; height: 40px; font-size: 14px; text-align: center; line-height: 40px; box-sizing: border-box; border: 1px solid #b4b4b4; border-top: 0; cursor: pointer}

/*소주제*/
.sub_title{width: 300px; height: 91px; margin-left: calc(45% - 150px); padding-top: 100px; line-height: 1.1em; text-align: center; font-size: 42px; font-weight: lighter; color: #323232; opacity: 0; transition: 1s;}
.sub_title > span{height: 24px; line-height: 24px; text-align: center; font-size: 16px; color: #666666; display: block;}
.sub_title > div{width: 40px; height: 1px; margin: 20px auto 0; letter-spacing: -1px; background: #285eac;}

/* 모바일 메뉴 */
.menu_wrap{width: 0; height: 100%; position: fixed; z-index: 50;}
.menu_wrap > div{width: 150px; height: 100%; position: absolute; left: -150px; top: 0;}
.menu_wrap > div > ul{width: 150px; height: 100%; float: left; background: white;}
.menu_wrap > div > img{width: 50px; height: 40px; margin: 10px 0 0 10px; position: absolute; top: 0; right: -60px; cursor: pointer}
.menu_wrap > div > ul a{display: block; width: 150px; height: 75px;}
.menu_wrap > div > ul > li{width: 150px; height: 75px; line-height: 75px; text-align: center; cursor: pointer; font-weight: bold; transition: 0.4s}
