#header{z-index: 0;}
#header h1{mix-blend-mode:color;}
#header path{backdrop-filter: invert(1);}
#header a{z-index: 10;}
.section-1{padding: 285px 40px 120px; height: 152px; box-sizing: content-box;}
.section-1 p{mix-blend-mode: difference; color: white; font-family: 'Godo', sans-serif; font-size: 76px; line-height: 1; position: fixed;}
.section-1 img{width: 300px; right: 20px; font-family: 'Godo', sans-serif; font-size: 76px; line-height: 1; position: fixed;}
.section-1 p.title{color: white; font-family: 'Godo', sans-serif; font-size: 46px; line-height: 60px; position: fixed; right: 80px; bottom: 130px; opacity: 1;}
.section-2{background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)), url(../images/images/main-img.jpg) no-repeat top/auto 100vh; mix-blend-mode:screen; backdrop-filter: invert(1);  height: 230vh; z-index: 1;}
.section-3{height: 100vh;}
