@charset 'utf-8';
@import 'layout.scss';

.page{
    &-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-profile{
        background-color: $bg-regular;
        .menu{
            margin-top: 10px;
        }
    }
}

.setting{
    &-dots{
        padding-inline: $padding-global;
    }
}
.slick{
    &-dots{
        display: flex;
        width: 100%;
        height: $radius-slickdots;
        border-radius: $radius-slickdots;
        overflow: hidden;
        background-color: $brand-light;
        li{
            flex: 1;
            height: 100%;
            background-color: $brand;
            &:first-child{
                border-top-left-radius: $radius-slickdots;
                border-bottom-left-radius: $radius-slickdots;
            }
            &:last-child,
            &.slick-active{
                border-top-right-radius: $radius-slickdots;
                border-bottom-right-radius: $radius-slickdots;
            }
            &.slick-active{
                & ~ li{
                    background-color: unset;
                }
            }
            *{
                display: none;
            }
        }
    }

    &-slide{
        .page-title{
            & ~ .btn-wrap{
                padding-inline: $padding-global * 2;
                display: flex;
                gap: 18px;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}
.match-stat{
    background-color: $bg-white;
    ul{
        display: flex;
        padding: 4px $padding-global 20px;
        li{
            flex: 1;
            a{
                font: $t2-sb;
                color: $brand;
                text-align: center;
                span{
                    display: block;
                }
                p{
                    font: $b2-rg;
                    color: $fg-grey;
                    margin-top: 10px;
                }
            }
            & + li{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 30px;
                    background-color: $line-light;

                }
            }
        }
    }
}
.menu{
    li{
        background-color: $bg-white;
        font: $b2-sb;
        color: $fg-black;
        border-bottom: 1px solid $line-light;
        & > *{
            padding: 14px $padding-global;
            width: 100%;
            display: block;
        }
        &:not(:has(a:only-child)){
            padding-right: $padding-global;
            display: flex;
            align-items: center;
            .btn{
                color: $brand;
                margin-left: auto;
                padding: unset;
            }
        }
    }
    a{
        color: inherit;
    }
}