@charset 'utf-8';
@import "common";

html,
body {
    background: linear-gradient(180deg, rgba(0, 73, 140, 0.2) 0%, rgba(17, 17, 17, 17) 100%), var(--black);
    background: -webkit-linear-gradient(180deg, rgba(0, 73, 140, 0.2) 0%, rgba(17, 17, 17, 17) 100%), var(--black);
    background: -moz-linear-gradient(180deg, rgba(0, 73, 140, 0.2) 0%, rgba(17, 17, 17, 17) 100%), var(--black);
    background: -o-linear-gradient(180deg, rgba(0, 73, 140, 0.2) 0%, rgba(17, 17, 17, 17) 100%), var(--black);
    position: relative;
}
section > div {
    position: relative;
    padding: 160px 64px;
    background-color: var(--white);
    & > div{
        max-width: 1920px;
        margin: auto;
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 64px;
    z-index: 10;
    & > * {
        max-height: 100%;
        font: 500 12px/1 var(--font);
        color: var(--black);
    }
    .email {
        opacity: 0;
    }
}
footer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 100px 0;
    font: 500 14px/130% var(--font);
    address {
        font-size: 12px;
        line-height: 14px;
        color: #7D7D7D;
        margin-top: 16px;
    }
}

.area-welcome {
    height: 760px;
    padding: 0;
    background: linear-gradient(180deg, rgba(0, 73, 140, 0.2) 0%, rgba(0, 0, 0, 0) 100%), var(--white);
    overflow: hidden;
    & > div {
        display: flex;
        animation: loop 60s linear infinite;
        div {
            display: flex;
            gap: 75px;
            white-space: nowrap;
            margin-right: 75px;
        }
    }
    span {
        font: 900 160px/190px var(--font);
        // color: transparent;
        // -webkit-text-stroke: 2px var(--black);
        text-transform: uppercase;
        text-shadow:
            -800px 190px var(--black),
            -1600px 380px var(--black),
            -2400px 570px var(--black),
            
            5015px 0 var(--black),
            4215px 190px var(--black),
            3415px 380px var(--black),
            2615px 570px var(--black),

            -5015px 0 var(--black),
            -5815px 190px var(--black),
            -6615px 380px var(--black),
            -7415px 570px var(--black)
            
            ;
        &:not(:first-child)::before {
            content: "#";
        }
    }
    @keyframes loop {
        100% {
            transform: translateX(calc(-4940px - 75px));
        }
    }
}
.area-intro {
    padding-top: 0;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.wrap-title {
            height: 375px;
            * {
                display: block;
            }
            div {
                margin-top: -520px;
                z-index: 1;
            }
        }
        &.wrap-dscpt {
            align-items: flex-end;
            color: var(--black);
            text-align: right;
        }
    }
    img {
        filter: drop-shadow(3px 3px 14px rgba(0, 0, 0, 0.07));
    }
    .wrap{
        &-title span {
            text-align: right;
            font: 700 46px/1 var(--font);
            margin-top: 10px;
        }
        &-dscpt span{
            text-decoration: underline;
        }
    }
    a {
        border: 1px solid var(--black);
        padding: 5px 10px;
        color: inherit;
    }
}
.area-working,
.area-history {
    display: flex;
    justify-content: center;
    gap: 155px;
    // gap: 120px;
    & > ul {
        display: flex;
        flex-wrap: wrap;
        flex: 0 900px;
        // flex: 1;
        gap: 54px 20px;
        margin-top: 16px;
        & > li{
            flex: 1 1 calc(50% - 20px);
            li{
                font-size: 14px;
            }
        }
    }
    b{
        display: block;
        margin-bottom: 20px;
    }
    h2{
        flex: 0 385px;
	    // flex: 0 375px;
    }
    span {
        &:not(.letterSpacing) {
            font-size: 10px;
            color: var(--gray);
            margin-left: 4px;
        }
        &.letterSpacing {
            letter-spacing: 4.61px;
        }
    }
}
.area-working {
    background-color: var(--deepLightGray);
    & > ul > li {
        flex-basis: 100%;
        list-style-type: "✓ ";
    }
}
.area-history {
    & > ul > li {
        display: flex;
        & > * {
            flex: 1;
        }
    }
    [data-hstryfg='career'] {
        li:last-child {
            margin-top: 30px;
        }
        b span {
            cursor: help;
        }
    }
    [data-hstryfg='education'] {
        &::after {
            content: "* 일학습병행 사업으로 전문학사 취득";
            color: var(--red);
            font-size: 12px;
        }
        .adtDsc > span:first-child::after {
            content: "*";
            color: var(--red);
            position: absolute;
            margin-left: -4px;
        }
    }
}

.area-projects {
    padding: 0;
    .nav {
        position: sticky;
        top: 50%;
        left: 100%;
        display: inline-block;
        z-index: 8;
        width: 100px;
        height: 100px;
        background: url(../images/icons/ic-arrow.svg) center/cover;
        transition: .2s;
        &:hover{
            background-position-y: -4px;
        }
        &.prev {
            right: unset;
            left: 0;
            transform: rotate(180deg);
        }
    }

    .slick{
        // width: 100%;
        // margin: 0;
        // max-width: unset;
        // &-list{
        //     width: 1200px;
        //     margin: auto;
        // }
        &-slide {
            display: flex !important;
            // margin: 0 100px;
            padding: 0 160px;
            // opacity: 0.2;
            // transform: scale(.8);
            transition: .2s;
            // &.slick-active{
                // opacity: 1;
                // transform: unset;
            // }
            &:focus{
                cursor: ew-resize;
            }
            & > div{
                flex: 1;
            }
        }

        &-dots{
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 64px;
            li{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--deepLightGray);
                text-indent: -9999px;
                cursor: pointer;
                &.slick-active{
                    background-color: var(--gray);
                }
            }
        }
    }
    .screen {
        position: relative;
        margin-right: 56px;
        & * {
            width: 100%;
            height: 100%;
            position: relative;
        }
        &.pc{
            aspect-ratio: 1/0.8424453280318092;
            img{
                padding: 2.4% 2.4% 28.2% 2.4%;
                object-fit: cover;
                object-position: top;
            }
            .mockup {
                position: absolute;
                top: 0;
                left: 0;
                background: url(../images/iMac_Front.svg) center/contain no-repeat;
            }
        }
        // &.mobile{
        //     width: 426px;
        //     aspect-ratio: 1/2.0657276995305165;
        //     img {
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         width: 100%;
        //         height: 100%;
        //         padding: 5.6% 4.7%;
        //         object-fit: contain;
        //     }
        //     .mockup {
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         background: url(../images/iPhone.webp) center/contain no-repeat;
        //     }
        // }
    }
    .wrap-dscpt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3{
            text-align: left;
        }
        p{
            font-size: 20px;
            margin-top: 8px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 24px;
            li{
                font-size: 14px;
                padding: 0 12px;
                border: 1px solid #0acdce40;
                color: #0acdce;
                border-radius: 30px;
            }
        }
        a{
            margin-bottom: 28.2%;
            display: inline-block;
            width: 180px;
            background-color: #0acdce40;
            color: #0acdce;
            text-align: center;
            padding: 0 48px;
            font: 700 18px/56px 'Pretendard';
            border-radius: 30px;
            &:hover {
                background-color: #0acdce;
                color: #222222;
            }
        }
    }
}