@charset 'utf-8';
@import "common";

body{
    background-color: var(--white);
}
section > div {
    position: relative;
    padding: 160px 64px;
    & > div{
        max-width: 1920px;
        margin: auto;
    }
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 64px;
    z-index: 10;
    & > * {
        max-height: 100%;
        font: 500 12px/1 var(--font);
        color: var(--black);
    }
}
// aside{
//     position: fixed;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     right: 50px;
//     bottom: 50px;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     z-index: 10;
//     cursor: pointer;
//     background-color: var(--lightGray);
//     &:not(.dark){
//         svg:nth-child(2){
//             display: none;
//         }
//     }
//     &.dark{
//         svg:first-child{
//             display: none;
//         }
//     }
// }
footer {
    background-color: var(--black);
    text-align: center;
    padding: 100px 0;
    font: 500 14px/120% var(--font);
    p{
        color: var(--white);
        font: inherit;
    }
    address {
        font: inherit;
        font-size: 12px;
        color: var(--gray);
        margin-top: 16px;
    }
}


.area-popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    z-index: 1000;
    display: none;
    .popup{
        &-wrap{
            display: flex;
            width: min(1456px, 100%);
            height: 100%;
            background-color: var(--white);
        }
        &-header{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 316px;
            border-right: 1px solid var(--lightGray);
            padding: 50px 42px;
            h4{
                font: 700 36px/120% var(--font);
            }
            ul{
                margin-top: 120px;
            }
            li{
                font: 400 16px/normal var(--font);
                color: var(--gray);
                &::before{
                    content: "#"
                }
                & + li{
                    margin-top: 10px;
                }
            }
            a{
                width: 80px;
                font: 400 16px/42px var(--font);
                color: var(--white);
                background-color: var(--black);
                text-align: center;
                border-radius: 42px;
            }
        }
        &-body{
            flex: 1;
            overflow-y: auto;
            &-content{
                width: 754px;
                margin: 40px auto;
                div{
                    display: flex;
                    gap: 20px;
                    // height: fit-content;
                    height: 416px;
                    border: 1px solid black;
                    margin: 24px 0;
                    & + *{
                        margin-top: 54px;
                    }
                    & + div{
                        margin: 20px 0;
                    }
                    &:has(figcaption){
                        margin-bottom: 36px;
                    }
                    img,
                    figure{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    figcaption{
                        font: 400 14px/normal var(--font);
                        text-align: right;
                    }
                }
                h5{
                    font: 700 21px/normal var(--font);
                    margin: 54px 0 24px;
                }
                p{
                    font: 400 18px/normal var(--font);
                    margin: 24px 0;
                }
            }
        }
    }
}


.area-welcome {
    height: 760px;
    padding: 0;
    background: linear-gradient(180deg, var(--sky) 0%, var(--white) 100%), var(--white);
    overflow: hidden;
    div {
        animation: loop 60s linear infinite;
        display: flex;
        gap: 75px;
        white-space: nowrap;
        margin-right: 75px;
    }
    span {
        font: 900 160px/190px var(--font);
        text-transform: uppercase;
        text-shadow:
            -800px 190px var(--black),
            -1600px 380px var(--black),
            -2400px 570px var(--black),
            
            5015px 0 var(--black),
            4215px 190px var(--black),
            3415px 380px var(--black),
            2615px 570px var(--black),

            -5015px 0 var(--black),
            -5815px 190px var(--black),
            -6615px 380px var(--black),
            -7415px 570px var(--black);
        &:not(:first-child)::before {
            content: "#";
        }
    }
    @keyframes loop {
        100% {
            transform: translateX(calc(-4940px - 75px));
        }
    }
}
.area-intro {
    padding-top: 0;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.wrap-title {
            height: 375px;
            * {
                display: block;
            }
            div {
                margin-top: -520px;
            }
        }
        &.wrap-dscpt {
            align-items: flex-end;
            text-align: right;
        }
    }
    img {
        filter: drop-shadow(3px 3px 14px rgba(0, 0, 0, 0.07));
        height: auto;
    }
    .wrap{
        &-title span {
            text-align: right;
            font: 700 46px/1 var(--font);
            margin-top: 10px;
        }
        &-dscpt span{
            text-decoration: underline;
        }
    }
    a {
        border: 1px solid var(--black);
        padding: 5px 10px;
    }
}
.area-working,
.area-history {
    display: flex;
    justify-content: center;
    gap: 155px;
    & > ul {
        display: flex;
        flex-wrap: wrap;
        flex: 0 900px;
        gap: 54px 20px;
        margin-top: 16px;
        & > li{
            flex: 1 1 calc(50% - 20px);
            li{
                font-size: 14px;
                & > span{
                    font: inherit;
                }
            }
        }
    }
    b{
        display: block;
        margin-bottom: 20px;
    }
    h2{
        flex: 0 385px;
    }
    span {
        &:not(.letterSpacing) {
            font-size: 10px;
            color: var(--gray);
            margin-left: 4px;
        }
        &.letterSpacing {
            letter-spacing: 4px;
        }
    }
}
.area-working {
    background-color: var(--deepLightGray);
    & > ul > li {
        flex-basis: 100%;
        list-style-type: "✓ ";
    }
}
.area-history {
    [data-hstryfg='career'] {
        li + li:not(:nth-child(2)) {
            margin-top: 20px;
        }
    }
    [data-hstryfg='education'] {
        &::after {
            content: "* 일학습병행 사업으로 전문학사 취득";
            color: var(--red);
            font-size: 12px;
        }
        .adtDsc > span:first-child::after {
            content: "*";
            color: var(--red);
            position: absolute;
            margin-left: -4px;
        }
    }
}

.area-projects {
    $nav-size: 100px;
    padding: 0;
    h3{
        text-align: left;
    }
    p{
        font-size: 20px;
        margin-top: 8px;
    }
    .nav {
        position: sticky;
        top: 50%;
        left: 100%;
        display: inline-block;
        z-index: 8;
        width: $nav-size;
        height: $nav-size;
        background: url(../images/icons/ic-arrow.svg) center/cover;
        transition: .2s;
        &:hover{
            background-position-y: -4px;
        }
        &.prev {
            right: unset;
            left: 0;
            transform: rotate(180deg);
        }
    }
    .slick{
        &-slide {
            display: flex !important;
            padding: 0 160px;
            gap: 56px;
            transition: .2s;
            &:focus,
            &:hover{
                cursor: ew-resize;
            }
            & > div{
                flex: 1;
            }
        }
        &-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 16px;
            gap: 12px;
            margin-top: 64px;
            li{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--deepLightGray);
                text-indent: -9999px;
                cursor: pointer;
                transition: .2s;
                &.slick-active{
                    background-color: var(--gray);
                    transform: scale(1.25);
                    box-shadow: 0px 0px 6px var(--gray);
                }
            }
        }
    }
    .screen {
        position: relative;
        & * {
            width: 100%;
            height: 100%;
            position: relative;
        }
        &.pc{
            aspect-ratio: 1/0.8424453280318092;
            img{
                padding: 2.4% 2.4% 28.2% 2.4%;
                object-fit: cover;
                object-position: top;
            }
            .mockup {
                position: absolute;
                top: 0;
                left: 0;
                background: url(../images/iMac_Front.svg) center/contain no-repeat;
            }
        }
    }
    .wrap-dscpt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-top: 24px;
            li{
                font-size: 14px;
                padding: 0 12px;
                border: 1px solid #0acdce40;
                color: var(--mint);
                border-radius: 30px;
            }
        }
        a{
            margin-bottom: 28.2%;
            display: inline-block;
            width: 180px;
            background-color: #0acdce40;
            color: var(--mint);
            text-align: center;
            padding: 0 48px;
            font: 700 18px/310% var(--font);
            border-radius: 30px;
            &:hover {
                background-color: var(--mint);
                color: #222222;
            }
        }
    }
}