@charset 'utf-8';
@import 'layout';


// NOTE: Laptop L
@media (max-width: 1440px   ){
    .area-intro{
        img{
            width: 280px;
            height: auto;
        }
    }

    .area-working,
    .area-history{
        flex-direction: column;
        h2{
            flex: unset;
            text-align: unset;
        }
    }
    .area-history > ul > li{
        flex-direction: column;
    }
    .area-projects{
        .slick{
            &-slide{
                padding: 0 100px;
            }
        }
    }
    // .area-projects{
    //     display: none;
    // }
    // h1, h2 {
    //     font-size: 30px;
    //     line-height: 162%;
    // }
    // h2{
    //     text-align: right;
    // }
    // b{
    //     font: 800 20px/30px var(--font);
    // }
}

// NOTE: Laptop
@media (max-width: 1024px   ){
    header{
        padding: 0 10px;
    }
    h2{
        font-size: 30px;
        // line-height: 46px;
    }
    b{
        font-size: 18px;
        // line-height: 27px;
    }
    section > div{
        padding: 100px 64px;
    }
    .area-welcome{
        height: 570px;
    }
    .area-intro{
        img{
            width: 200px;
        }
        div.wrap{
            &-title{
                height: 155px;
                flex-direction: column-reverse;
                align-items: flex-start;
                h1{
                    display: none;
                }
                div{
                    span{
                        display: none;
                    }
                }
            }
            &-dscpt{
                p{
                    text-align: left;
                    margin-top: 20px;
                }
                a{
                    display: none;
                }
            }
        }
    }
    
    .area-working{
        b{
            margin-bottom: 18px;
        }
        ul{
            gap: unset;
        }
    }
    .area-history > ul{
        & > li{
            flex-basis: 100%;
        }
    }
    .area-working, .area-history{
        gap: 55px;
    }
    .area-projects{
        .screen{
            margin: {
                right: 0;
                bottom: 56px;
            }
        }
        .wrap-dscpt{
            h3{
                font-size: 28px;
            }
            p{
                font-size: 20px;
            }
            a{
                margin: {
                    top: 24px;
                    bottom: 0;
                }
            }
        }

        .nav{
            width: 64px;
            height: 64px;
        }
        .slick{
            &-slide{
                padding: 64px;
            }
        }
    }
    .slick-slide{
        flex-direction: column;
    }
}

// NOTE: Tablet
@media (max-width: 768px    ){
    body > div,
    section > div{
        padding: 100px 32px;
    }
    .area-welcome{
        height: 320px;
        & > div{
            display: none;
            visibility: hidden;
        }
    }
    .area-projects{
        .wrap-dscpt{   
            a{
                width: 100%;
            }
        }
        .nav{
            width: 50px;
            height: 50px;
        }
        .slick{
            &-slide{
                padding: 50px;
            }
        }
    }
    
}

// NOTE: Mobile L
@media (max-width: 425px    ){
}

// NOTE: Mobile M
@media (max-width: 375px    ){
}

// NOTE: Mobile S
@media (max-width: 320px    ){

}

// CUSTOM
@media (max-width: 1600px   ){
    // .area-projects .slick-slide{
    //     gap: 100px;
    // }
}

// NOTE: 4K
// @media (max-width: 2560px   ){

// }