@charset 'utf-8';
@import 'layout';

// NOTE: Laptop L
@media (max-width: 1440px   ){
    .area-popup{
        .popup{
            &-wrap{
                width: 90%;
            }
            &-body{
                &-content{
                    width: calc(100% - 64px)
                }
            }
        }
    }
    .area-intro{
        img{
            width: 280px;
        }
        .wrap-title{
            span{
                font-size: 30px;
            }
        }
    }
    .area-working{
        ul{
            li{
                flex-basis: calc(50% - 20px);
                list-style: none;
            }
        }
    }
    .area-working,
    .area-history{
        flex-direction: column;
        gap: 80px;
        h2{
            flex: unset;
            text-align: unset;
        }
        ul{
            flex: unset;
            margin: 0;
        }
    }
    .area-projects{
        .slick{
            &-slide{
                padding: 0 100px;
            }
        }
    }
}

// NOTE: Laptop
@media (max-width: 1024px   ){
    header{
        padding: 0 10px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
    b{
        font-size: 18px;
    }
    section > div{
        padding: 100px 30px;
    }
    .area-popup{
        .popup{
            &-body{
                &-content{
                    div{
                        margin: 18px 0;
                        figcaption{
                            font-size: 12px;
                        }
                    }
                    h5{
                        font-size: 18px;
                        margin: 40px 0 18px;
                    }
                    p{
                        margin: 18px 0;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .area-welcome{
        height: 570px;
    }
    .area-intro{
        img{
            width: 200px;
        }
        div.wrap{
            &-title{
                height: 155px;
                flex-direction: column-reverse;
                align-items: flex-start;
                h1,
                div span{
                    display: none;
                }
            }
            &-dscpt{
                flex-direction: row-reverse;
                p{
                    text-align: left;
                    margin-top: 20px;
                }
            }
        }
    }
    .area-working,
    .area-history{
        gap: 55px;
        b{
            margin-bottom: 18px;
        }
        ul{
            li{
                flex-basis: 100%;
            }
            &[data-hstryfg='career'] {
                li + li:not(:nth-child(2)) {
                    margin-top: 18px;
                }
            }
        }
    }
    .area-projects{
        $nav-size : 64px;
        p{
            font-size: 16px;
        }
        li{
            font-size: 12px;
        }
        .screen{
            margin: {
                right: 0;
                bottom: 56px;
            }
        }
        .wrap-dscpt{
            ul{
                margin-top: 12px;
            }
            a{
                font-size: 14px;
                width: 150px;
                padding: 0;
                margin: {
                    top: 24px;
                    bottom: 0;
                }
            }
        }
        .nav{
            width: $nav-size;
            height: $nav-size;
        }
        .slick{
            &-slide{
                flex-direction: column;
                gap: unset;
                padding: 0 $nav-size;
            }
            &-dots{
                margin-top: 24px;
            }
        }
    }
}

// NOTE: Tablet
@media (max-width: 768px    ){
    header{
        height: 40px;
        img{
            height: 32px;
        }
        span{
            font-size: 10px;
        }
    }
    h1,
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    b{
        font-size: 16px;
    }
    .wrap-dscpt,
    footer{
        p{
            font-size: 14px;
            span{
                font-size: inherit;
            }
        }
    }
    footer{
        padding: 64px 0;
    }
    section > div{
        padding: 100px 24px;
    }
    .area-popup{
        .popup{
            &-wrap{
                width: 100%;
                flex-direction: column;
                h4{
                    width: 280px;
                }
                ul{
                    margin-top: 32px;
                }
            }
            &-header{
                padding: 20px 20px 30px;
                flex-direction: unset;
                flex-basis: unset;
                border: {
                    right: 0 none;
                    bottom: 1px solid var(--lightGray);
                }
                a{
                    width: 32px;
                    height: 32px;
                    text-indent: -9999px;
                    border-radius: unset;
                }
            }
            &-body{
                &-content{
                    width: 100%;
                    div{
                        margin: 18px 0;
                        figcaption{
                            font-size: 12px;
                        }
                    }
                    h5,
                    p,
                    figcaption{
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    .area-intro {
        div.wrap-dscpt{
            flex-direction: row;
            a{
                display: none;
            }
        }
    }
    .area-welcome{
        height: 320px;
        & > div{
            display: none;
        }
    }
    .area-working,
    .area-history{
        b{
            margin-bottom: 10px;
        }
        ul{
            &[data-hstryfg='career'] {
                li + li:not(:nth-child(2)) {
                    margin-top: 10px;
                }
            }
        }
    }
    .area-projects{
        $nav-size: 50px;
        .wrap-dscpt{   
            a{
                width: 100%;
            }
        }
        .nav{
            width: $nav-size;
            height: $nav-size;
            &:hover{
                background-position: center;
            }
        }
        .slick{
            &-slide{
                padding: 0 $nav-size;
            }
        }
    }
}

// NOTE: Mobile L
@media (max-width: 425px    ){
    header{
        height: 32px;
        img{
            height: 24px;
        }
    }
    section > div{
        padding: {
            top: 50px;
            bottom: 50px;
        };
    }
    footer{
        padding: {
            top: 50px;
            bottom: 50px;
        }
    }
    .area-popup{
        padding: 0;
        .popup{
            &-wrap{
                flex-direction: column;
                h4{
                    width: 280px;
                }
                ul{
                    margin-top: 32px;
                }
            }
            &-header{
                padding: 20px 20px 30px;
                flex-direction: unset;
                border: {
                    right: 0 none;
                    bottom: 1px solid var(--lightGray);
                }
                a{
                    width: 32px;
                    height: 32px;
                    text-indent: -9999px;
                    border-radius: unset;
                }
            }
            &-body{
                &-content{
                    width: 100%;
                    div{
                        margin: 18px 0;
                        figcaption{
                            font-size: 12px;
                        }
                    }
                    h5,
                    p,
                    figcaption{
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    .area-welcome{
        height: 180px;
    }
    .area-intro{
        img{
            width: 140px;
        }
    }
    .area-working,
    .area-history{
        gap: 36px;
        ul{
            gap: 24px;
        }
    }
    .area-projects{
        $nav-size: 32px;
        .nav{
            width: $nav-size;
            height: $nav-size;
        }
        .slick{
            &-slide{
                padding-inline: $nav-size;
            }
            &-dots{
                gap: 9px;
                li{
                    width: 6px;
                    height: 6px;
                    &.slick-active{
                        box-shadow: 0px 0px 4px var(--gray);
                    }
                }
            }
        }
    }
}

// NOTE: Mobile M
@media (max-width: 375px    ){
}

// NOTE: Mobile S
@media (max-width: 320px    ){
}

// NOTE: 4K
// @media (max-width: 2560px   ){

// }
@media (prefers-color-scheme: dark) {
    /* 다크 모드에 적용할 스타일 정의 */
    // :root{
    //     --black: #ffffff;
    //     --gray: #8f8f8f;
    //     --deepLightGray: #191919;
    //     --lightGray: #333333;
    //     --white: #111111;
    //     --red: #FD5146;
    //     --mint: #0acdce;
    // }
}