@charset 'utf-8';
@import 'layout';

// NOTE: Laptop L
@media (max-width: 1440px   ){
    .area-intro{
        .wrap-title{
            img{
                width: 280px;
            }
            span{
                font-size: 30px;
            }
        }
    }
    .area-working{
        ul{
            li{
                flex-basis: calc(50% - 20px);
            }
        }
    }
    .area-working,
    .area-history{
        flex-direction: column;
        gap: 80px;
        h2{
            flex: unset;
            text-align: unset;
        }
        ul{
            flex: unset;
            margin: 0;
            gap: 40px;
        }
    }
    .area-projects{
        .slick{
            &-slide{
                padding: 0 100px;
            }
        }
    }
}

// NOTE: Laptop
@media (max-width: 1024px   ){
    header{
        padding: 0 10px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
    b{
        font-size: 18px;
    }
    section > div{
        padding: 100px 64px;
    }
    .area-welcome{
        height: 570px;
    }
    .area-intro{
        img{
            width: 200px;
        }
        div.wrap{
            &-title{
                height: 155px;
                flex-direction: column-reverse;
                align-items: flex-start;
                h1,
                div span{
                    display: none;
                }
            }
            &-dscpt{
                p{
                    text-align: left;
                    margin-top: 20px;
                }
                a{
                    display: none;
                }
            }
        }
    }
    
    .area-working{
        b{
            margin-bottom: 18px;
        }
        ul{
            li{
                flex-basis: 100%;
            }
        }
    }
    .area-history > ul{
        & > li{
            flex-basis: 100%;
        }
    }
    .area-working,
    .area-history{
        gap: 55px;
    }
    .area-projects{
        $nav-size : 64px;
        .screen{
            margin: {
                right: 0;
                bottom: 56px;
            }
        }
        p{
            font-size: 16px;
        }
        .wrap-dscpt{
            a{
                margin: {
                    top: 24px;
                    bottom: 0;
                }
            }
        }
        .nav{
            width: $nav-size;
            height: $nav-size;
        }
        .slick{
            &-slide{
                padding: $nav-size;
            }
        }
    }
    .slick-slide{
        flex-direction: column;
    }
}

// NOTE: Tablet
@media (max-width: 768px    ){
    body > div,
    section > div{
        padding: 100px 32px;
    }
    .area-intro{
        .wrap-title{
            img{
                width: 200px;
            }
        }
    }
    .area-welcome{
        height: 320px;
        & > div{
            display: none;
            visibility: hidden;
        }
    }
    .area-projects{
        .wrap-dscpt{   
            a{
                width: 100%;
            }
        }
        .nav{
            width: 50px;
            height: 50px;
        }
        .slick{
            &-slide{
                padding: 50px;
            }
        }
    }
    
}

// NOTE: Mobile L
@media (max-width: 425px    ){
}

// NOTE: Mobile M
@media (max-width: 375px    ){
}

// NOTE: Mobile S
@media (max-width: 320px    ){

}

// CUSTOM
@media (max-width: 1600px   ){

}

@media (max-width: 600px   ){
    h1,
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    b{
        font-size: 16px;
    }
    .wrap-dscpt,
    footer{
        p{
            font-size: 14px;
            span{
                font-size: inherit;
            }
        }
    }
    footer{
        padding: 64px 0;
    }
    .area-working{
        b{
            margin-bottom: 10px;
        }
    }
}

// NOTE: 4K
// @media (max-width: 2560px   ){

// }