@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
  outline: unset;
  color: inherit;
}

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: block;
  src: local("Pretendard SemiBold"), url("/src/assets/font/Pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("/src/assets/font/Pretendard/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: block;
  src: local("Pretendard Medium"), url("/src/assets/font/Pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: block;
  src: local("Pretendard Regular"), url("/src/assets/font/Pretendard/Pretendard-Regular.woff2") format("woff2"), url("/src/assets/font/Pretendard/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: block;
  src: local("Pretendard Light"), url("/src/assets/font/Pretendard/Pretendard-Light.woff2") format("woff2"), url("/src/assets/font/Pretendard/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  font-display: block;
  src: local("☺"), url("/src/assets/font/NanumSquare/NanumSquareL.otf") format("opentype"), url("/src/assets/font/NanumSquare/NanumSquareL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  font-display: block;
  src: local("☺"), url("/src/assets/font/NanumSquare/NanumSquareB.otf") format("opentype");
}
@font-face {
  font-family: "DsDigi";
  font-weight: 400;
  font-display: block;
  src: local("☺"), url("/src/assets/font/DsDigi/DS-DIGI.TTF") format("truetype");
}
@font-face {
  font-family: "DsDigi";
  font-weight: 700;
  font-display: block;
  src: local("☺"), url("/src/assets/font/DsDigi/DS-DIGIB.TTF") format("truetype");
}
@font-face {
  font-family: "DsDigi";
  font-weight: 400;
  font-display: block;
  src: local("☺"), url("/src/assets/font/DsDigi/DS-DIGI.TTF") format("truetype");
  unicode-range: U+0031;
  letter-spacing: 100px;
}
@font-face {
  font-family: "DsDigi";
  font-weight: 700;
  font-display: block;
  src: local("☺"), url("/src/assets/font/DsDigi/DS-DIGIB.TTF") format("truetype");
  unicode-range: U+0031;
  letter-spacing: 100px;
}
h1 {
  font: 500 46px/120% "Pretendard";
  color: #111111;
}

h2 {
  font: 500 50px/120% "Pretendard";
  color: #111111;
}

h4 {
  font: 700 32px/120% "Pretendard";
  color: #111111;
}

.btn {
  font: 400 16px/120% "Pretendard";
  border: 1px solid #111111;
  padding: 12px 16px;
  border-radius: 6px;
}

footer {
  background-color: #111111;
  padding: 100px 200px;
  text-align: center;
  font: 400 14px/120% "Pretendard";
  color: #ffffff;
}
footer address {
  font: 400 12px/120% "Pretendard";
  color: #8F8F8F;
  margin-top: 16px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 1500px;
  height: 800px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 320px 1fr;
}
.modal-header {
  padding: 50px 48px;
}
.modal-header ul {
  margin-top: 120px;
}
.modal-header ul li {
  font: 400 16px/120% "Pretendard";
  color: #A0A0A0;
}

.area-welcome {
  background: linear-gradient(180deg, #CCDBE8 0%, #ffffff 100%), #ffffff;
  width: 100vw;
  height: 760px;
}
.area-welcome canvas {
  width: 100%;
  height: 100%;
}
.area-intro {
  padding: 30px 64px 160px;
}
.area-intro h1 {
  line-height: 80px;
}
.area-intro > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.area-intro picture {
  margin-top: -100%;
  transform: translateY(-160px);
}
.area-intro p {
  text-align: right;
  font: 400 16px/120% "Pretendard";
  line-height: 30px;
}
.area-information {
  padding: 160px 64px;
  display: grid;
  grid-template-columns: 385px minmax(auto, 800px);
  justify-content: center;
  gap: 155px;
  background-color: #F6F6F6;
}
.area-information h2 {
  line-height: 80px;
  text-align: right;
}
.area-information p, .area-information li {
  font: 400 16px/120% "Pretendard";
  line-height: 30px;
  color: #111111;
  white-space: nowrap;
}
.area-information li span.align {
  letter-spacing: 4.61px;
}
.area-information li span:last-child {
  font: 400 12px/120% "Pretendard";
  color: #8F8F8F;
  margin-left: 4px;
}
.area-information .title {
  font: 800 20px/120% "Pretendard";
  margin-bottom: 16px;
}
.area-information > ul {
  display: flex;
  gap: 56px 20px;
  flex-direction: column;
}
.area-information.type-history {
  background-color: unset;
}
.area-information.type-history > ul {
  flex-wrap: wrap;
  flex-direction: unset;
}
.area-information.type-history > ul > li {
  flex: 1 1 calc(50% - 10px);
}/*# sourceMappingURL=style.css.map */