@charset 'utf-8';
@use '../index' as v;

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(v.$black0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    &-content{
        width: 1500px;
        height: 800px;
        background-color: v.$white;
        display: grid;
        grid-template-columns: 320px 1fr;
    }

    &-header{
        padding: 50px 48px;

        ul{
            margin-top: 120px;
            li{
                font: v.$b2-400;
                color: v.$black7;
            }
        }
    }
}