@charset 'utf-8';
@use '../index' as v;

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: v.$init-black-950;
        opacity: 0.4;
        z-index: -1;
    }
    
    &:has(.modal-content.active){
        display: flex;
    }
    &-content{
        $thisMargin: 40px;
        position: relative;
        width: calc(100% - $thisMargin * 2);
        max-width: 1500px;
        height: calc(100% - $thisMargin * 2);
        max-height: 800px;
        margin-inline: $thisMargin;
        overflow-y: auto;
        background-color: v.$white;
        display: none;
        grid-template: auto / 320px 1fr;
        &.active{
            display: grid;
        }
    }
    &-header{
        padding: 50px 48px;
        height: inherit;
        position: sticky;
        top: 0;
        border-right: 1px solid v.$black-50;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        ul{
            margin-top: 120px;
            li{
                font: v.$b3-400;
                color: v.$black-500;
                margin-bottom: 10px;
                &::before{
                    content: "#";
                }
            }
        }
        .btn{
            margin-top: auto;
        }
    }
    &-body{
        padding-inline: 32px;
        .wrap{
            width: 100%;
            max-width: 920px;
            margin: 40px auto;
        }
        figure{
            margin-top: 24px;
            &:first-child{
                margin-top: unset;
            }
            figcaption{
                text-align: right;
                font: v.$b4-400;
                color: v.$black-500;
                margin-top: 12px;
            }
        }
        img{
            max-width: 100%;
        }
        h5{
            margin-top: 80px;
        }
        p{
            font: v.$b2-400;
            line-height: 180%;
            color: v.$black-500;
            margin-top: 40px;
            & + div{
                margin-top: 24px;
            }
        }
        .wrap-img{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); // 자동 크기 조정
            justify-items: center;
        }
    }
    .mode-dark &{
        figcaption,
        li,
        p{
            color: v.$black-800;
        }
        img{
            filter: brightness(0.9) contrast(0.9);
        }
    }
}